/* Reset some default styles */


main {
    padding: 20px;
    padding-top: 10rem;
}
/* Reset some default styles */


#honesty,
#references {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}


/* Add this CSS code to your existing styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #9e7272;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #075c8e;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}


.references {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  .references h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .references ol {
    list-style: none;
    counter-reset: ref-counter;
  }
  .references ol li {
    counter-increment: ref-counter;
    margin-bottom: 5px;
  }
  .references ol li::before {
    content: counter(ref-counter) ".";
    font-weight: bold;
    margin-right: 5px;
  }