/* Add your CSS styles here */
main{
  padding: 7rem;
}
.form-section {
  text-align: center;
  padding: 50px 20px;
}

.form-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.form-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.fitness-goals-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.fitness-goals-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.fitness-goals-form input[type="text"],
.fitness-goals-form input[type="email"],
.fitness-goals-form input[type="number"],
.fitness-goals-form select,
.fitness-goals-form textarea {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.fitness-goals-form textarea {
  resize: vertical;
}

.contact-method {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.contact-method input[type="radio"] {
  margin-right: 5px;
}

#submit-button {
  padding: 10px 20px;
  background-color: #38B6FF;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: rgb(255, 255, 255);
  color: #38b6ff9d;
}
